
/* pc low */
@media (min-width: 1024px) and (max-width: 1199px) {
    .navbar_list-menu-selection a {
        font-size: 1.1rem;
    }
    .heading_device-container {
        display: none;
    }
    .heading_device {
        display: none;
    }
    
    .check_oder {
        display: none;
    } 
    .search-box {
        margin-left: 50px;
    }
    .cart {
        /* right: 20%; */
    }
    .category {
        display: block;
    }
}


/* tablet */
@media (min-width:769px) and (max-width:1023px) { 
    .hide-on-tablet {
        display: none;
    }
    .cart {
        /* right: 25%; */
    }
    .container-slide__img img {
        height: auto;
    }

}

/* mobile */
@media (max-width:768px) { 
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    .hide-on-mobile {
        display: none;
    }
    .heading-navbar {
        
    }
    .search-box {
        margin-top: 10px;
    }
    .nav-bars {
        font-size: 2.5rem;
        margin: 4px 0 0 10px;
    }
    .category__selection-item {
        font-size: 2rem;
        margin: 5px 0 0 10px;
    }

   
    .cart {
         margin:10px 0 0 0;
     }
    .cart i {
        font-size: 2.5rem;
    }
    .cart-notice {
        padding: 1px 5px;
        font-size: 1rem;
        right: -20px;
        bottom: 12px;
    }
    .cart-notice::before {
        content: "";
        top: 55%;
        left: -8px;
        position: absolute;
        border: 5px solid;
        transform: translateY(calc(-50% - 1px));
        border-color: transparent var(--orange-color) transparent transparent;
    }
    
    .heading-search {
        padding: 0 30px;
    }

    .action-button a { 
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 10px;
    }
    .container-slide__img img {
        height: auto;
    }
    
}


