 * {
    /* padding: 0;
    margin: 0; */
    box-sizing: inherit;
}
.clear {
    clear: both;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
} 

body {
    background-color: rgb(244,244,244);
}

footer {
    margin-top: 30px;
}

:root {
    --white-color:#fff;
    --text-color:#333;
    --primary-color:rgb(0,72,61);
    --hover-color:#009a82;
    --orange-color:#ff6801;
    --red-color:rgb(253,82,90);
    --background-color-sale:#f7941e;
}


